<h1 class="text-center">{{ mockdata.title }}</h1>
<p class="text-center">{{ mockdata.description }}</p>

<div *ngFor="let item of mockdata.feature">
  <div
    *ngIf="item.backgroundColor.length > 0"
    class="{{ item.backgroundColor }}"
    [ngStyle]="{ padding: item.padding + 'px' }"
  >
    <h1 class="text-center">
      <b>{{ item.title }} </b>
    </h1>
    <div class="item-image-container"><img src="{{ item.image }}" /></div>
    <p class="text-center">{{ item.description }}</p>
    <!--Extra-->
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div *ngFor="let extra of item.extra" fxFlex="{{ extra.size }}">
        <p>{{ extra.text }}</p>
      </div>
    </div>
  </div>
</div>
<!--SPECS-->
<div>
  <h1 class="{{ mockdata.specs.titleColor }}-text">{{ mockdata.specs.title }}</h1>
  <div *ngFor="let item of mockdata.specs.items" class=" {{ item.color }}-text border-bottom">
    <p class="{{ item.color }}-text">
      <b>{{ item.name }}</b>
    </p>
    <p class="{{ item.color }}-text">{{ item.Description }}</p>
  </div>
</div>
