/* You can add global styles to this file, and also import other style files */

body {
  padding: 0px;
  margin: 0px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}
